.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.button {
  margin-top: 1rem;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
}
